* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa;
    color: #333;
}

header {
    background-color: #464646;
    padding: 0px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}

.logo img {
    width: 150px;
}

.navbar {
    background-color: #464646;
}

.navbar-nav .nav-link:hover {
    color: #ffffff;
}

.navbar-nav .nav-link {
    color: #4799cb; /* Color del texto de los enlaces */
    padding: 10px 15px; /* Espaciado interno de los enlaces */
    font-weight: 500;
}

.navbar-nav {
    margin-right: 30px;
}

.navbar .custom-border {
    border-color: white;
}

.navbar .custom-border:focus {
    outline: 2px solid #4799cb;
    box-shadow: 0 0 0 2px #4799cb;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"%3E%3Cpath stroke="white" stroke-width="2" d="M5 7h20M5 15h20M5 23h20"/%3E%3C/svg%3E');
    color: #ffffff;
    border-color: 1px solid white;
}

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    text-align: center;
    justify-content: center;
}


@media (min-width: 750px) {
    .services-grid {
        grid-template-columns: 1fr 1fr;
        max-width: 80%;
    }
}

.home-title {
    margin-bottom: 40px;
    margin-top: 30px;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 50px;
}

.section-form-container {
    margin-bottom: 120px;
}

.form-check-label {
    display: flex;
    align-items: center;
    gap: 10px;
}

.form-check-input {
    margin-top: 0.3rem;
    margin-right: 0.5rem;
    accent-color: #0056b3;
}

.form-check img {
    height: 24px;
}

input[type="date"] {
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    background-color: #fff;
    color: #495057;
}

textarea {
    resize: none;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.custom-card {
    max-width: 10px;
    margin: 30px auto;
    padding: 5px;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.card {
    margin-top: 20px;
    border: 1px solid #000000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card-text {
    color: #343a40;
}

.col-13 {
    display: flex;
    margin: 30px auto;
    justify-content: center;
    align-items: center;
}


/*=======================Video Section=======================*/

.video-promo-container{
    background-color: #4799cb;
    height: 400px;
    position: relative;

}

.video-promo{
    width: 40%;
    height: 100%;
    border-radius: 10px;


}

.video-promo-container::before{
    content: "";
    display: block;
    width: 100%;
    height: 100px; /* Ajusta la altura del arco, ver despues si se quiere q sea mas alto */
    background-color: #4799cb;
    border-top-left-radius: 50% 100px; /* Ajusta el radio para controlar la curvatura desde la izquierda hasta le medio */
    border-top-right-radius: 50% 100px; /* Ajusta el radio para controlar la curvatura desde la derecha hasta el mid */
    position: absolute;
    bottom: 100%; 
    left: 0;
}

/*=======================End Video Section=======================*/

footer {
    background-color: #464646;
    padding: 20px 0;
    color: #fff;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 90%;
    margin: auto;
}

.footer-logo img {
    width: 150px;
    margin-bottom: 20px;
}

.footer-info {
    margin-bottom: 20px;
}

.footer-info p {
    margin: 5px 0;
}

.footer-social {
    text-align: center;
    margin-bottom: 20px;
}

.footer-social p {
    margin-bottom: 10px;
}

.footer-social a {
    margin: 0 10px;
    display: inline-block;
}

.footer-social img {
    width: 24px;
    height: 24px;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
}

.footer-bottom p {
    margin: 5px 0;
}

@media (min-width: 809px) {
    .footer-container {
        flex-direction: row;
        align-items: flex-start;
        text-align: left;
        justify-content: space-between;
    }

    .footer-info {
        flex: 1;
        margin-right: 20px;
    }

    .footer-social {
        margin: 0;
    }
}

/* Media queries telefonos */
@media (max-width: 950px) {
    header .container, .footer-container {
        width: 80%;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 8px 0;
    }

    .tracking input {
        width: 80%;
    }

    .services-grid {
        grid-template-columns: 1fr;
    }
}
